<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>

            <p>This space presents my educational and professional journey, no more than better but I knew how to distinguish myself in certain cases where I could not finish, but this remains a void to be filled very soon</p> 
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Ahoua Elvis Ghislain</h4>
                    <p><em>Innovative and time-conscious Web and Mobile Application Developer with more than 3 years of experience in designing and developing Web and Mobile applications according to user requests, while taking into account their requirements.</em></p>
                    <ul>
                        <li>Abidjan, Cote d'Ivoire</li>
                        <li>(225) 07 684 667 45</li>
                        <li>elvisahoua64@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Licence of Application development &amp; e-services</h4>
                    <h5>2018 - 2020</h5>
                    <p><em>Université virtuelle de côte d’ivoire</em></p>
                </div>
               
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Analyst Developer C# </h4>
                    <h5>October 2022 - A present</h5>
                    <p><em>CHK COTE D'IVOIRE </em></p>
                    <ul>
                        <li>Responsible for web application development with a dynamic team</li>
                        <li>Responsible for monitoring interns on projects </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>ORANGE 5G HACKATHON</h4>
                    <h5>JUNE - JULY 2022</h5>
                    <p><em>Orange Digital Center</em></p>
                    <ul>
                        <li>It was about developing a solution with 5G, in our case we designed a surveillance drone</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Development Intern</h4>
                    <h5>JANUARY 2022 - JULY 2022</h5>
                    <p><em>CHK COTE D'IVOIRE</em></p>
                </div>
                <div class="resume-item">
                    <h4>
                        NDI HACKATHON and ZOOHACKATHON
                    </h4>
                    <h5>November 2020 and December 2021</h5>
                    <p><em>NDI Côte d'Ivoire</em></p>
                </div>
                <div class="resume-item">
                    <h4>
                        Development Intern
                    </h4>
                    <h5>July 2020 - September 2020</h5>
                    <p><em>NOT A NUMBER</em></p>
                    <ul>
                        <li> Website development and revitalization in ASP.NET Mvc </li>
                        <li>WebSockets; setting up a server </li>
                        <li>Xamarin Forms mobile development </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Resume Section -->
